
*{
    font-family: Montserrat, sans-serif;
    /* color: #f5f5f5; */
}
.row{
  margin: unset !important;
}
.Tel01{
  background: linear-gradient(135deg, #AB13B7, #160E73);
}
#navbar a {
    color: #faf5f5;
}
#navbar{
  padding: 5%;
}
#navbar .navbar-toggler{
  color: #f5f5f5;

}

#navbar a:hover {
    color: #faf5f5;
    border-bottom: 0.5px solid #eee9e9;
    font-weight: bolder;
}

.navbar-brand {  
    display: flex;
}

.img_logo{
    width: 100px;
    text-decoration: none;
}


#navbar-items .navbar-nav {   
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 0.1em;
}

#navbar-items .nav-item { 
    margin: 1 1em;
}
.ImgLogoTelNav{
    height: 165px;

}
.PosicaoCol1Tel1{
  color: #f5f5f5;
    margin: 10%;
    padding: 5%;
}
.ImgTel1{
    background: url("./imagens/FOTO\ 1-100-corte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
.div-botao1{
    width: none;
    max-width: none;
}
.buttom_tela{  /*é a classe do botão da section01*/
    border-radius: 10px;
    color:rgb(22, 14, 115);
    background-color: rgb(83, 236, 141);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .buttom_tela:hover{ /*classe botão da section01 e chama a classe buttom_tela*/
    cursor: pointer;
    color: #f5f5f5;
    background-color: rgb(22, 14, 115);
    transition: 0.5s;
  }
.GradientTel02{
    background: linear-gradient(135deg, #AB13B7, #160E73);
    background: url("./imagens/foto2-1050.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    padding-top: 5%;
}
#section02 .h3{
  color: #f5f5f5;
  font-size: 40px;
}
#section02 .card{
    width: 300px;
    height: 300px;
    background: transparent;        
    background: linear-gradient(135deg,#AB13B7,#160E73);
    border-radius: 10px;
    color: #f5f5f5;
    margin: 10px;
    }
    #section02 .card:hover{
      cursor: pointer;
      background: transparent;
      border-color: rgb(83, 236, 141) ;
      transition: 0.5s ; 
      font-weight: 600;
    }
  
    #section02 .buttom_card{  /*criei essa classe para definir o estilo do link*/
      color: rgb(83, 236, 141);
      text-decoration: none;
      text-align: center;
      justify-items: center;
    }
  
    #section02  .buttom_card:hover{
      transition: 0.5s;
      color:  rgb(83, 236, 141);
    }
    #section02  .buttom_tela{ /*classe botão da section02 e chama a classe buttom_tela*/
        background-color: rgb(83, 236, 141);
        border: 1px solid #160E73;
        border-radius: 10px;
        cursor: pointer;
        color:rgb(22, 14, 115);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-align: center;
        justify-content: center;
        align-items: center;
  
  
    }
  
    #section02  .buttom_tela:hover{ /*classe botão da section02 e chama a classe buttom_tela*/
      background-color: rgb(22, 14, 115);
      border-radius: 10px;
      cursor: pointer;
      color: #f5f5f5;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
  }
  
    .justify{ /* crei essa classe para justificar os textos da section 02*/
      box-align: justify ;
      text-align: left;
      height: 100px ;
      font-size: 15px;
  
    }
  
    #section02 .height_card{ /*criei essa classe para definir a altura dos cards*/
      height: 250px;
      margin: auto;
      margin-top: 10px;
  
    }
    #section02 .justify_titulocard{ /*criei essa classe para justificar o texto do título dos cards da section02*/
      box-align: justify ;
      text-align: left;
      font-size: 20px;
    }
#section02 .CardTel02{
    margin: 5%;
}
/* #section02 .CardTel2{
    margin-left: 20px;
} */
.icone{
  width: 25px;
  color: #f5f5f5;
}
.ImagensIcons{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #f5f5f5;
    margin: auto;

}
.Centralizar{
  text-align: center;
}
.Picons{
  color: #f5f5f5;
  text-align: center;
}
/* INÍCIO TELA 03 */
.POSICIONAMENTO {
  background: #AB13B7;
  background: url("./imagens/foto3-1050.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%;
}
.titulo-selecao{
  color: #f5f5f5;
  font-size: 40px;
}
.cortel02{
  color: #f5f5f5;
  font-size: 20px;
}

.img_logo-03{
  width: 60px;
  height: 100%; 
  width: 100%; 
  text-align: center;
  background-size: cover;
}
.cor{ /*classe referente ao destaque das frases/palavras da seleção*/
  background-color: rgb(83, 236, 141);
  color: rgb(22, 14, 115);
}

/* FIM DA TELA 03 */

/* INÍCIO DA TELA 04 */
.position01{ /*posição que a coluna terá em relação a linha principal*/
  text-align: center;

}
.destaque{ /*destaque do texto da section 04*/
  color: rgb(22, 14, 115);
  font-size: 40px;
}
.destaqueCor{
  color: rgb(22, 14, 115);
  font-size: 20px;
}
.color{ /*classe criada para definir a cor da fonte da section04*/
  background-color: #faf5f5;
  font-weight: 600;
}
.ajustes-fluxograma{ /*largura da imagem da tela 04*/
  width: 60%;

}
#metodologia .card{
  color: #f5f5f5;

}

#metodologia .height_card1{ /*criei essa classe para definir a altura dos cards*/
  height: 300px;
  width: 270px;
  margin: 3px;
  padding: 3px;
  background: linear-gradient(135deg,#AB13B7,#160E73);
  border-radius: 10px;
}


 #metodologia .card:hover{
  cursor: pointer;
  background: transparent;
  border: 2px solid;
  border-color: #AB13B7 ;
  transition: 0.5s;
  color: #160E73 !important;  
  font-weight: 800; 
}
#metodologia .justify_titulocard{
  font-size: 20px;
}
#metodologia .justify{
  font-size:15px;
}
.posicionamento{
  padding: 5%;
}
/* FIM DA TELA 04 */

/* INÍCIO DA TELA 05 */
#tela05{
  background: linear-gradient(#ab13b7,#160e73);
}
#tela05 .caixa{
  align-items: center;
  font-weight: 100 italic;
  color: #f5f5f5;
}

#tela05 .color{
  color: #f5f5f5;
}

.texto{
  align-items: center;
  border:solid 1px ;
  border-color: rgb(83, 236, 141);
  border-radius: 15px;
  padding: 20px;
  margin:  auto;
}
/* FIM DA TELA 05 */

/* INICIO DA TELA 06 */
.Ptel6{
  text-align: center;
  
}
.ImagemRepresentantesTel06{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  margin-top: -50px;
}
.CardTel06{
  width: 200px;
  height: 250px;
  margin-top: 50px;
}

.destaque6{
  font-size: 40px;
  color: #160E73;
}
.CardTel06{
  width: 13rem;
  margin: auto;
  margin-top: 50px;
  border-color:#ab13b7
}
/* FIM DA TELA 06 */

/* INÍCIO DA TELA 07 */
.img-tela07{
  background: url("./imagens/foto4-1050.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.CorText{
  color: #f5f5f5;
  font-size: 40px;
}
.CorTextP{
  color: #f5f5f5;
  font-size: 20px;
}
#regForm {
  background: transparent;
  margin: 0px auto;
  border-radius: 10px;
}

#formulario h1 {
  text-align: left;
}

#formulario input {
  padding: 15px;
  width: 100%;
  font-size: 13px;
  height: 18px;
  border: none;
  border-radius: 10px;
  background-color: #3d1365;
  color: #f5f5f5;
}

#formulario input.invalid {
  border-color: #ff0505;
}

#formulario .tab {
  display: none;
}

#formulario button {
  color: #160E73;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 10px;
  background-color: rgb(83, 236, 141);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align:left;

  cursor: pointer;
}

#formulario button:hover {
  opacity: 0.8;
}

#prevBtn {
  border-radius: 10px;
  color: #160E73;
  cursor: pointer;
  text-align:left;
}

#formulario .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3d1365;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

#formulario .step.active {
  opacity: 1;
}

#formulario .step.finish {
  background-color: rgb(83, 236, 141);
}

#formulario .all-steps {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#formulario .thanks-message {
  display: none;
}



#formulario {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default radio button */

#formulario input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom radio button */

#formulario .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */

#formulario:hover input~.checkmark {
  background-color: #3d1365;
}


/* When the radio button is checked, add a blue background */

#formulario input:checked~.checkmark {
  background-color: #2196F3;
}
#formulario #btn01{
  background-color: #3d1365;
  color: #f5f5f5;
}
#formulario #btn02{
  background-color: #3d1365;
  color: #f5f5f5;
}
#formulario #btn03{
  background-color: #3d1365;
  color: #f5f5f5;
}
#formulario #btn04{
  background-color: #3d1365;
  color: #f5f5f5;
}
#formulario #btn05{
  background-color: #3d1365;
  color: #f5f5f5;
}


#formulario .btn {
  text-align:left;
  background-color: rgb(83, 236, 141);
}
#nextBtn{
  border-radius: 10px;
  font-family: sans-serif;
  background-color: rgb(83, 236, 141);
  color: #160E73;
  font-weight: 900;
  text-align:left;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

#formulario .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#formulario .caixa{
  margin: 1px;
  padding: 1px;
  color: #f5f5f5;
}

/* Show the indicator (dot/circle) when checked */

#formulario input:checked~.checkmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */

#formulario .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#formulario .col-sm-6{
  text-align: left;
}
#formulario .col{
  margin-top: 0;
}
#formulario .projeto{
  width: 100%;
  height: 300px;
  align-items: start;
  justify-content: start;
}
#formulario span{
  margin: 0;
  color: rgb(83, 236, 141);
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

#formulario input::placeholder {
  color: #f5f5f5;
}
#formulario textarea{
    background-color: #3d1365;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 10px;
    font-weight: 400;
    font-size: medium;
    color: #f5f5f5;
}
#formulario textarea::placeholder {
  color: #f5f5f5;
}
.CorText1{
  color: #AB13B7;
}
/* FIM DA TELA 07 */

/* INÍCIO DO FOOTER  */
.row-footer{
  margin-top: 0;
  background-color: rgb(19, 18, 53);
  justify-content: space-around;
  text-align: left;

}
.footer{
  width: 250px;
  height: 200px;
  border: 2px solid rgb(83, 236, 141);
  border-radius: 10px;
  padding: 5px;
  margin-left: 5%;
}
.h2-footer{
  color:rgb(83, 236, 141);
  text-align: center;
  margin-top: 15px;
}

.a-footer{
  margin-top:2%;
  padding: 0;
  list-style: none;
  width: 100%;

}
.a-footer a { /*fonte da cor dos items da navbar*/
  color: #faf5f5;
  text-decoration: none;
}

.a-footer a:hover {
  color: #faf5f5;
  border-bottom: 0.5px solid #eee9e9;
  font-weight: bolder;
  text-decoration: none;
}
.col-sm-3{
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 0%;
}

#icons-footer .icone{
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: transparent;
  color: #f5f5f5;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 40px;
  text-decoration: none;
}
#icons-footer .none{
  text-decoration: none;
}

#icons-footer .center-l2{
  height: 70px;
  width: 70px;
}
.img_logo2{
  width: 100px;
  background: url("./imagens/BrainUp_logo3.png");
  background-repeat: no-repeat;
  background-size: cover;

}
/* FIM DO FOOTER */

@media (max-width: 567px) {
  .Centralizar{
    width: 30% !important;
    margin-top: 10px !important;
  }
  .PosicaoCol1Tel1{
    color: #f5f5f5;
      margin: 0%;
      padding: 0%;
  }
  .Linha1Mobile{
    padding: 5%;
    margin: unset !important;
  }
  #section02 .h3{
    font-size: 30px;
  }
#section02 .CardTel02{
  margin: 0%;
  text-align: center;
}
.posicionamento{
  margin: unset !important;
}
#section02 .card{
  margin: auto;
  margin-top: 10px;
}
.img_logo-03{
  width: 80px;
  display: none;
}
.titulo-selecao{
  text-align: center;
  font-size: 30px;
}
.cortel02{
  color: #f5f5f5;
  font-size: 15px;
}
.ImagensIcons{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #f5f5f5;
  margin: auto;

}
.destaque6{
  font-size: 30px;
  color: #160E73;
}
.telaparceriasmobile{
  font-size: 15px;
}
.destaque{ /*destaque do texto da section 04*/
  color: rgb(22, 14, 115);
  font-size: 30px;
}
.destaqueCor{
  color: rgb(22, 14, 115);
  font-size: 15px;
}

.ajustes-fluxograma{
  display: none;
}
.CorText{
  padding: unset !important;
  font-size: 30px;
}
.CorTextP{
  font-size: 15px;
}
.CardTel06{
  margin-top: 80px;
}
.row-footer{
  margin-top: 0;
  background-color: rgb(19, 18, 53);
  justify-content: space-around;
  text-align: center;

}
.footer{
  margin: auto;
}
#img_logo2{
width: 75px;
right: 50%;

}
#metodologia .height_card1{ /*criei essa classe para definir a altura dos cards*/
  height: 200px;
  width: 270px;
  margin: 3px;
  padding: 3px;
  background: linear-gradient(135deg,#AB13B7,#160E73);
  border-radius: 10px;
}
}
@media (min-width: 568px) and (max-width:767px) {
  .Centralizar{
    width: 30% !important;
    margin-top: 10px !important;
  }
  br{
    display: none;
  }
 .p2{
  text-align: center;
 }
 #section02 .CardTel02{
  margin: 0;
 }
 .h3{
  text-align: center;
  font-size: 30px;
 }
 p{
  font-size: 15px;
 }
  .Ctela1{
    display: none;
  }

  #section02 .height_card{ /*criei essa classe para definir a altura dos cards*/
    height: 250px;
    width: 300px;
    margin: auto;
    margin-top: 10px;
  }

  .ajustes-fluxograma{ /*largura da imagem da tela 04*/
    display: none;

  }
  #section02 .card{
        font-size: 14px;
    }
    #metodologia  .card{
      font-size: 14px;
    }
    #nomes .card{
      font-size: 14px;
    }
    #metodologia .height_card1{ /*criei essa classe para definir a altura dos cards*/
      height: 200px;
      width: 250px;
      margin: 3px;
      padding: 3px;
      color: #f5f5f5;
      background: linear-gradient(135deg,#AB13B7,#160E73);
      border-radius: 10px;
    }
    .position01{ /*posição que a coluna terá em relação a linha principal*/
      text-align: center;
      width: 100%;

    }
    .coltab{
      width: 80%;
    }
    .h2-footer {
      color: rgb(83, 236, 141);
      text-align: center;
      margin-top: 30px;
  }
  .CardTel2{
    display: none;
  }
  }
  @media (min-width: 768px) and (max-width:991px) {
    .Centralizar{
      width: 30% !important;
      margin-top: 10px !important;
    }
    br{
      display: none;
    }
    .PosicaoCol1Tel1{
      color: #f5f5f5;
      margin: 0%;
      padding: 5%;
    }
   .p2{
    text-align: center;
   }
   #section02 .CardTel02{
    margin: 0;
   }
   .h3{
    text-align: center;
   }
    .Ctela1{
      display: none;
    }
  
    #section02 .height_card{ /*criei essa classe para definir a altura dos cards*/
      height: 250px;
      width: 300px;
      margin: auto;
      margin-top: 10px;
    }
  
    .ajustes-fluxograma{ /*largura da imagem da tela 04*/
      display: none;
  
    }
    #section02 .card{
          font-size: 14px;
      }
      #metodologia  .card{
        font-size: 14px;
      }
      #nomes .card{
        font-size: 14px;
      }
      #metodologia .height_card1{ /*criei essa classe para definir a altura dos cards*/
        height: 200px;
        width: 250px;
        margin: 3px;
        padding: 3px;
        color: #f5f5f5;
        background: linear-gradient(135deg,#AB13B7,#160E73);
        border-radius: 10px;
      }
      .position01{ /*posição que a coluna terá em relação a linha principal*/
        text-align: center;
        width: 100%;
  
      }
      .coltab{
        width: 80%;
      }
      .h2-footer {
        color: rgb(83, 236, 141);
        text-align: center;
        margin-top: 30px;
    }
    .CardTel2{
      display: none;
    }
  }
  @media (min-width: 992px) {
    .Centralizar{
      width: 30% !important;
      margin-top: 10px !important;
    }
    br{
      display: none;
    }
    .PosicaoCol1Tel1{
      color: #f5f5f5;
      margin: 5%;
      padding: 5%;
    }
   .p2{
    text-align: center;
   }
   #section02 .CardTel02{
    margin: auto;
   }
   .h3{
    text-align: center;
   }
    .Ctela1{
      display: none;
    }
    .CardTel02{
      text-align: center;
    }
 
    #section02 .height_card{ /*criei essa classe para definir a altura dos cards*/
      height: 250px;
      width: 300px;
      margin: auto;
      margin-top: 10px;
    }
  
    .ajustes-fluxograma{ /*largura da imagem da tela 04*/
      display: none;
  
    }
    #section02 .card{
          font-size: 14px;
      }
      #metodologia  .card{
        font-size: 14px;
      }
      #nomes .card{
        font-size: 14px;
      }
      #metodologia .height_card1{ /*criei essa classe para definir a altura dos cards*/
        height: 250px;
        width: 250px;
        margin: 3px;
        padding: 3px;
        color: #f5f5f5;
        background: linear-gradient(135deg,#AB13B7,#160E73);
        border-radius: 10px;
      }
      .position01{ /*posição que a coluna terá em relação a linha principal*/
        text-align: center;
        width: 100%;
  
      }
      .coltab{
        width: 80%;
      }
      .h2-footer {
        color: rgb(83, 236, 141);
        text-align: center;
        margin-top: 20px;
    }
  }