/*Corpo do site Body*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;    
  font-family: Montserrat, sans-serif;
  background: linear-gradient(135deg, #AB13B7, #160E73);

 }




/*header*/
/*navbar*/
#navbar a { /*fonte da cor dos items da navbar*/
    color: #faf5f5;
}

#navbar a:hover {
    color: #faf5f5;
    border-bottom: 0.5px solid #eee9e9;
    font-weight: bolder;
}

.navbar-brand {  /*classe do link da logo */
    display: flex;
}

.img_logo{ /*classe da imagem da logo*/
    width: 100px;
}


#navbar-items .navbar-nav {    /*classe para centralizar os elementos ao centro */
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 0.1em;
}

#navbar-items .nav-item {  /*margem de um elemento para o outro */
    margin: 1 1em;
}

/*fim da navbar*/
/*fim do header*/

/*main*/
/*section01*/


.tamanho-coluna-tela01{
  height: 600px;
}
.h3{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.h1{
  
    font-weight: 100 ;
  
  }
  
  span{
    font-weight: 700;
  }
  .h2{
    
    font-weight: 900 ;
  }
  
  .p{
    
    font-weight: 500 ;
  
  }
  .div-botao1{
    width: 500px;
    max-width: 500px;
  }
  .buttom_tela{  /*é a classe do botão da section01*/
    border-radius: 10px;
    color:rgb(22, 14, 115);
    background-color: rgb(83, 236, 141);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
  
  }
  .buttom_tela:hover{ /*classe botão da section01 e chama a classe buttom_tela*/
    cursor: pointer;
    color: #f5f5f5;
    background-color: rgb(22, 14, 115);
    transition: 0.5s;
  }
  
  .col{
      margin-top: 50px;
      position: relative;
      background: transparent;
      align-items: center;
      justify-content: center;
  }
  .col-sm-6{
    text-align: left;
    margin-top: 20px;
  }
    .img{ /*imagem da section 01*/
        width: 100%;
        height: 100%;
        position: relative;
  }
  
  .tela02{
    width: 100%;
    height: 100%;
  }
/*fim da section01*/
/* section02*/
#section02 .p2{
  text-align: center;
}
#section02 .card{
    width: 18rem;
     background: transparent; 
     background: linear-gradient(135deg,#AB13B7,#160E73);
     border-radius: 10px;
     color: #f5f5f5;
  }
  #section02 .card:hover{
    cursor: pointer;
    background: transparent;
    border-color: rgb(83, 236, 141) ;
    transition: 0.5s ; 
    font-weight: 600;
  }
  
  #section02 .buttom_card{  /*criei essa classe para definir o estilo do link*/
    color: rgb(83, 236, 141);
    text-decoration: none;
    text-align: center;
    justify-items: center;
  }
  
  #section02  .buttom_card:hover{
    transition: 0.5s;
    color:  rgb(83, 236, 141);
  }
  #section02  .buttom_tela{ /*classe botão da section02 e chama a classe buttom_tela*/
      background-color: rgb(83, 236, 141);
      border-radius: 10px;
      cursor: pointer;
      color:rgb(22, 14, 115);
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      text-align: center;
      justify-content: center;
      align-items: center;
    

  }
  
  #section02  .buttom_tela:hover{ /*classe botão da section02 e chama a classe buttom_tela*/
    background-color: rgb(22, 14, 115);
    border-radius: 10px;
    cursor: pointer;
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

  .justify{ /* crei essa classe para justificar os textos da section 02*/
    box-align: justify ;
    text-align: left;
    height: 100px ;
    
  }
 
  #section02 .height_card{ /*criei essa classe para definir a altura dos cards*/
    height: 200px;
  }
  #section02 .justify_titulocard{ /*criei essa classe para justificar o texto do título dos cards da section02*/
    box-align: justify ;
    text-align: left;
  
  }
/*fim da section02*/

/*início da section03*/

.cortela03{ /*essa classe define a imagem da tela 03*/
  background-image: url(../html/img/foto3-10500.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}
.tamanho-coluna{  /*essa classe define o tamnaho da coluna que contém a row principal da tela 03*/
  height: 400px;
}

/* classes da section 03*/

.cor{ /*classe referente ao destaque das frases/palavras da seleção*/
  background-color: rgb(83, 236, 141);
  color: rgb(22, 14, 115);
}
.titulo-selecao{
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* fim da div da section 03*/

/*fim da section03*/

/*início da section04*/
.position01{ /*posição que a coluna terá em relação a linha principal*/
  text-align: center;

}
.destaque{ /*destaque do texto da section 04*/
  color: rgb(22, 14, 115);
 
}
.color{ /*classe criada para definir a cor da fonte da section04*/
  background-color: #faf5f5;

  font-weight: 600;
}
.posicao{
  margin-left: 100px;
  margin-top: 50px;
}


.ajustes-fluxograma{ /*largura da imagem da tela 04*/
  width: 60%;
  
}

.height_card1{ /*criei essa classe para definir a altura dos cards*/
  height: 170px;
}

#metodologia  .card{  /*id criado para tornar-se pai dos cards*/
  width: 18rem;
  color: #f5f5f5;
  background: linear-gradient(135deg,#AB13B7,#160E73);
  border-radius: 10px;
}


#metodologia .card:hover{
  cursor: pointer;
  background: transparent;
  border-color: #AB13B7 ;
  transition: 0.5s;
  color: #160E73;
  font-weight: 800;
}

/*fim da section04*/

/*início da section05*/
#tela05{
  background: linear-gradient(#ab13b7,#160e73);
}
#tela05 .caixa{
  align-items: center;
  font-weight: 100 italic;
}

#tela05 .color{
  color: #f5f5f5;
}

.texto{
  align-items: center;
  width: 900px;
  height: 300px;
  border:solid 1px ;
  border-color: rgb(83, 236, 141);
  border-radius: 15px;
  padding: 20px;
  margin:  auto;
}
/*fim da section05*/

/*início da section06*/

#nomes .card-image{
 
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
  background: linear-gradient(135deg,#AB13B7,#160E73);
  padding: 3px;
}
#nomes .card-image .card-img{
  height: 100%;
  width: 100%; 
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid;
}
#nomes .name{
 
  font-size: 18px;
  font-weight: 14px ;
  color: #f5f5f5;
  justify-content: center;
  text-align: center;
}

#nomes .descricao{
  
  font-size: 9px;
  color: #f5f5f5;
  text-align: center;
}
#nomes .card{
  
  border: solid, 5px;
  background:linear-gradient(135deg,#AB13B7,#160E73);
  align-items: center;
  justify-content: center;
}
#nomes .height_card2{

  height: 250px;
  width: 250px;
  background-color: #f5f5f5; 
  
}
#nomes .height_card2 .card-img{

  object-fit: cover;
  border-radius: 50%;
  border: 4px solid ;

}
.img-tela06{
  background-image: url(../html/img/ELEMENTO_REDE.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*fim da section06*/

/*início da section07*/
.img-tela07{
  background-image: url(../html/img/foto4-1050.png);
  background-repeat: no-repeat;
  background-size: cover;

}

#regForm {
  background: transparent;
  margin: 0px auto;
  
  padding: 20px;
  border-radius: 15px;
}

#formulario h1 {
  text-align: left;
}

#formulario input {
  padding: 15px;
  width: 100%;
  font-size: 13px;
  height: 18px;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  background-color: #3d1365;
  color: #f5f5f5;
}

#formulario input.invalid {
  background-color: #ffdddd;
}

#formulario .tab {
  display: none;
}

#formulario button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

#formulario button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

#formulario .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

#formulario .step.active {
  opacity: 1;
}

#formulario .step.finish {
  background-color: #4CAF50;
}

#formulario .all-steps {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#formulario .thanks-message {
  display: none;
}

#formulario {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default radio button */

#formulario input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom radio button */

#formulario .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */

#formulario:hover input~.checkmark {
  background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

#formulario input:checked~.checkmark {
  background-color: #2196F3;
}

#formulario .btn {
  background: #3d1365;
}
#nextBtn{
  border-radius: 15px;
  font-family: sans-serif;
  background-color: rgb(83, 236, 141);
  color: #160E73;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

#formulario .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#formulario .caixa{
  margin: 1px;
  padding: 1px;
}

/* Show the indicator (dot/circle) when checked */

#formulario input:checked~.checkmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */

#formulario .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#formulario .col-sm-6{
  text-align: left;
}
#formulario .col{
  margin-top: 0;
}
#formulario .projeto{
  width: 100%;
  height: 300px;
}
#formulario span{
  margin: 0;
  color: #4CAF50;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}
/*fim do main*/
.row-footer{
  margin-top: 0;
  background-color: rgb(19, 18, 53);
}
.footer{
  width: 250px;
  height: 200px;
  border: 2px solid rgb(83, 236, 141);
  border-radius: 10px;
  padding: 5px;
  margin-left: 5%;
}
.h2-footer{
  color:rgb(83, 236, 141);
}
.a-footer{
  margin-top:2%;
  padding: 0;
  list-style: none;
  width: 150px
}
.a-footer a { /*fonte da cor dos items da navbar*/
  color: #faf5f5;
  text-decoration: none;
}

.a-footer a:hover {
  color: #faf5f5;
  border-bottom: 0.5px solid #eee9e9;
  font-weight: bolder;
  text-decoration: none;
}
.col-sm-3{
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 0%;
}

#icons-footer .a{
  display: inline-flex;
  width: 50px;
  height: 50px;
  background: wheat;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  transition: 0.4s;
  font-size: 20px;
}