/*Corpo do site Body*/

body {
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;    
  font-family: Montserrat, sans-serif;
  background: linear-gradient(135deg, #AB13B7, #160E73);

 }




/*header*/
/*navbar*/
#navbar a { /*fonte da cor dos items da navbar*/
    color: #faf5f5;
}

#navbar a:hover {
    color: #faf5f5;
    border-bottom: 0.5px solid #eee9e9;
    font-weight: bolder;
}

.navbar-brand {  /*classe do link da logo */
    display: flex;
}

.img_logo{ /*classe da imagem da logo*/
    width: 100px;
}


#navbar-items .navbar-nav {    /*classe para centralizar os elementos ao centro */
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 0.1em;
}

#navbar-items .nav-item {  /*margem de um elemento para o outro */
    margin: 1 1em;
}

/*fim da navbar*/
/*fim do header*/

/*main*/
/*section01*/

.h1{
  
    font-weight: 100 ;
  
  }
  
  span{
    font-weight: 700;
  }
  .h2{
    
    font-weight: 900 ;
  }
  
  .p{
    
    font-weight: 500 ;
  
  }
  .buttom_tela{  /*é a classe do botão da section01*/
    border-radius: 10px;
    color:rgb(22, 14, 115);
    background-color: rgb(83, 236, 141);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  
  }
  .buttom_tela:hover{ /*classe botão da section01 e chama a classe buttom_tela*/
    cursor: pointer;
    color: #f5f5f5;
    background-color: rgb(22, 14, 115);
    transition: 0.5s;
  }
  
  .col{
      margin-top: 50px;
      position: relative;
      background: transparent;
  
  
  }
  .col-sm-6{
    text-align: left;
    margin-top: 20px;
  }
    .img{ /*imagem da section 01*/
        width: 100%;
        height: 100%;
        position: relative;
  }
  
  .tela02{
    width: 100%;
    height: 100%;
  }
/*fim da section01*/
/* section02*/
.card{
    width: 18rem;
     background: transparent; 
     background: linear-gradient(135deg,#AB13B7,#160E73);
     border-radius: 10px;
     color: #f5f5f5;
  }
  .card:hover{
    cursor: pointer;
    background: transparent;
    border-color: rgb(83, 236, 141) ;
    transition: 0.5s ; 
    font-weight: 600;
  }
  
  .buttom_card{  /*criei essa classe para definir o estilo do link*/
    color: rgb(83, 236, 141);
    text-decoration: none;
    text-align: left;
    justify-items: left;
  }
  
  .buttom_card:hover{
    transition: 0.5s;
    color:  rgb(83, 236, 141);
  }
  .buttom_tela{ /*classe botão da section02 e chama a classe buttom_tela*/
      background-color: rgb(83, 236, 141);
      border-radius: 10px;
      cursor: pointer;
      color:rgb(22, 14, 115);
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
  }
  .justify{ /* crei essa classe para justificar os textos da section 02*/
    box-align: justify ;
    text-align: left;
    height: 100px ;
    
  }
 
  .height_card{ /*criei essa classe para definir a altura dos cards*/
    height: 200px;
  }
  .justify_titulocard{ /*criei essa classe para justificar o texto do título dos cards da section02*/
    box-align: justify ;
    text-align: left;
  
  }
/*fim da section02*/

/*início da section03*/

.cortela03{ /*essa classe define a imagem da tela 03*/
  background-image: url(../html/img/foto3-1050.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}
.tamanho-coluna{  /*essa classe define o tamnaho da coluna que contém a row principal da tela 03*/
  height: 400px;
}

/* classes da section 03*/

.cor{ /*classe referente ao destaque das frases/palavras da seleção*/
  background-color: rgb(83, 236, 141);
  color: rgb(22, 14, 115);
}

/* fim da div da section 03*/

/*fim da section03*/

/*início da section04*/
.position01{ /*posição que a coluna terá em relação a linha principal*/
  text-align: center;

}
.destaque{ /*destaque do texto da section 04*/
  color: rgb(22, 14, 115);
}
.color{ /*classe criada para definir a cor da fonte da section04*/
  background-color: #faf5f5;

  font-weight: 600;
}


.ajustes-fluxograma{ /*largura da imagem da tela 04*/
  width: 60%;
  
}

.height_card1{ /*criei essa classe para definir a altura dos cards*/
  height: 170px;
}

#metodologia  .card{  /*id criado para tornar-se pai dos cards*/
  width: 18rem;
  color: #f5f5f5;
  background: linear-gradient(135deg,#AB13B7,#160E73);
  border-radius: 10px;
}


#metodologia .card:hover{
  cursor: pointer;
  background: transparent;
  border-color: #AB13B7 ;
  transition: 0.5s;
  color: #160E73;
  font-weight: 800;
}

/*fim da section04*/

/*fim do main*/
